/* 브레드크럼 style */

.breadc > ol {
    display: flex;
    padding-top: 20px;
}
.breadc > ol > li {
    margin-right: 10px;
    font-size: 15px;
    list-style-type: none;
    text-decoration: none;
}
.breadc a {
    color: rgb(202, 202, 202) !important;
    text-decoration: none;
}
.separator {
    color: rgb(202, 202, 202);
    user-select: none;
}
