

.wrap{ 
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.header{height: 250px;}
.header-top
{
    background-color: #e0e0e0;
   
}
.header_nav{
    height: 20%; display: flex;
    padding-top: 2%; 
    padding-bottom: 10px; 
    position: relative;
} 

.header_nav::before { /*상단 선 스타일*/
        content: "";
        position: absolute;
        top: -10px; /* 선의 위치 조정 */
        left: 0; 
        width: 100%; 
        height: 2px; /* 선의 두께 설정 */
        background-color: #ffffff; 
}
     
.header_nav div{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;  
    
}

.header_nav div a{
    color: black;
}
.menu_item {
    margin-right: 60px; 
}

.Search_section {
    flex: 1;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.section {
    width: 33%;
   
}

.Search_area {
    width: 100%;
   
}
.headr_roop {
    display: flex;
    margin-bottom: 20px; 
}

.section {
    display: flex;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
}

.Login_section {
    width: 100%;
    margin-left: 13px;
}
.header-top-section { /* 홈페이지 최상단 여백*/ 
    margin-top: 20px; 
    margin-bottom: 20px;
    position: relative;
    
}
.header-top-section::after { /*하단 선 스타일*/
    content: "";
    position: absolute;
    bottom: -10px; /* 선의 위치 조정 */
    width: 100%; 
    height: 2px; /* 선의 두께 설정 */
    background-color: #e0e0e0; 
}

.menu_item {
    display: inline-block; 
    margin-right: 10px; 
}

.menu_item a {
    text-decoration: none; 
    display: inline-block; 
}

.menu_item:hover a {
    font-weight: bold;
    color: #ffa51f; 
    text-shadow: 1px 1px 1px #b47920;
}

/*section 스타일*/

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-height: 400px; */
}
.main_text{
    text-align: center;
    font-size: 40px;
    min-height: 50px;
   border-bottom: 3px solid #e0e0e0;;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.main_content>div{
    border: 2px solid #1ABC9C;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin: bottom 50px; 
    min-height: 1200px;
    padding: 50px;
    border-radius: 10px;
}

.main_content {
    margin-bottom: 30px;
    margin-top: 30px;
}

.footer_company {
    border-top: 4px solid #e0e0e0; 
    padding-top: 20px; 
    list-style-type: none;
}
.footer_company li{
    list-style-type: none;
}

/*sidebarstyle*/
.sidebar {
    position: fixed;
    top: 500px;
    right: 0;
    margin-right: 140px;
    height: 100%;
    width: 50px;
 }

 .sidebar-item {
    display: block;
    padding: 10px;
    
    text-decoration: none;
    
 }
 .sidebar-item:hover {
    background-color: #f1ee3a; 
 }

 .main_best{
    font-size: 48px;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px;
    
 }

 .best_list{
    display: flex;
    justify-content: space-evenly;
 }
 .thumbnail{
    width: 250px;
    margin: 10px;
    padding: 5px;
    padding-bottom: 30px;
    cursor: pointer;
    position: relative;
    padding-right: 20px;

}
.thumbnail:hover>img{
    opacity: 0.9;
}
.thumbnail_img{
    width: 240px;
    height: 300px;
    padding: 10px;
}

/* 
.thumbnail_status{
    width: 250px;
    height: 30px;
    background-color: rgba(95, 95, 95, 0.600);
    color: white;
    text-align: center;
    position: absolute;
    top: 175px;
    z-index: 10;
} */

.product_name {
    width: 240px;
    font-size: 22px;
    font-weight: bolder;
    padding-top: 10px;
}
.s_price{
    padding-left: 10px;
    color: gray;
}
.discount{
    color: rgb(219, 31, 31);
    font-size: 18px;
    padding-left: 5px;
}
.price{
    font-weight: bolder;
    font-size: 20px;
    text-align: right;
}
.star{
    color: rgb(251, 255, 6);
    text-align: right;
    text-shadow: 1px 1px 1px gray;
}
.average{
    text-align: center;
    width: 45px;
}
.review_count{
    /* text-align: center; */
    width: 60px;

}

/* 상품 페이지 스타일 */
.product_best{
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px;

}
.category{
    width: 100%;
    height: 400px;
    padding-bottom: 30px;
    align-items: center;
    background-color: #ffa51f50;
    display: flex;
   
}
.big_category{
    width: 15%;
    height: 50px;
    text-align: center;
    font-size: 22px;
    color: rgb(37, 28, 28);
    text-shadow: 1px 1px 2px whitesmoke;
}
.category td{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.category_line{
    border-top: 1.5px solid gray; /* td 요소의 하단에만 선을 그리는 CSS 속성 */
    border-bottom: 1.5px solid gray; /* td 요소의 하단에만 선을 그리는 CSS 속성 */
    padding: 20px; 
}