/* 비밀번호 확인 css */


.pwdck_contents{
    padding: 0 100px;
    line-height: 10px;
}

.pwdck_title{
    display: flex;
}

.pwdck_id {
    margin: auto 10px;
    color: goldenrod;
}
.pwdck_input{
    margin: 30px 0;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid lightgray;
}
input[type="password"]:focus{
    border: 1px solid black;
    outline: none;
}

.pwdck_cancle, .pwdck_ok{
    border: 1px solid gray;
    font-size: 30px;
    width: 50%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwdck_btn {
    display: flex;
    margin-top: 20px;
}
.pwdck_cancle {
    margin-right: 10px;
}
.pwdck_cancle:hover{
    background-color: lightgray;
}
.pwdck_ok{
    background-color: gold;
}
.pwdck_ok:hover{
    background-color: goldenrod;
}
