<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>적립금</title>
</head>


<!-- 헤더 css -->


<!-- 브레드크럼 css -->
<link rel="stylesheet" href="/html/webapp/resources/css/breadcrumb.css">

<!-- 마이페이지 css -->
<link rel="stylesheet" href="mypage.css">

<!-- 적립금 전용 css -->
<link rel="stylesheet" href="mypage_point.css">

<!-- 사이드바 적용 js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="mypage.js"></script>

<!-- 푸터 css -->


<body>
    <!--head start-->   
    <header>
        <h1>헤더 영역</h1>
        <h1>헤더 영역</h1>
    </header>

    <!--head end-->
    <hr class="hr1">
    
    <!-- 브레드크럼 start -->
    <div class="breadcrumb">
        <ol>
            <li><a href="/html/webapp/views/공통부분/mainPage.html">Home</a></li>
            <li class="separator">&gt</li>
            <li><a href="mypage_mainpage.html">마이페이지</a></li>
            <li class="separator">&gt</li>
            <li>적립금</li>
        </ol>
    </div>
    <!-- 브레드크럼 end -->
    
    
    <!-- 적립금 페이지 start-->
    <!-- 제목 -->
    <h1 class="title">적립금</h1>
    
    <!-- section start -->
    <section>
        <!-- 좌우로 영역 나누기(사이드바, contents) start -->
        <div class="dividing_area1">
            <!-- 사이드바 -->
            <div class="sidebar"></div>


            <!-- ---------------------------------------- -->
            <!-- 보여지는 화면 start -->
            <div class="mypage_point">


                <!-- 사용가능한 적립금 start -->
                <div class="available_points">
                    <div class="point_right">
                        <p class="mypage_font6">사용 가능한 적립금</p>
                        <p class="mypage_font1">15,500 원</p>
                    </div>
                </div>
                <!-- 사용가능한 적립금 end -->

                <!-- 날짜 기능 -->
                <div class="date_tab"></div>

                <!-- 보여지는 내용 -->
                <div class="contents_point">
                    
                    <!--  -->
                    <table class="table_point">
                        <tr class="tr1">
                            <th class="th1">일자</th>
                            <th class="th1">내역</th>
                            <th class="th1">상세</th>
                            <th class="th1">적립</th>
                            <th class="th1">사용</th>
                        </tr>


                        <!-- 없을때 -->
                        <!-- <tr>
                            <th colspan="5" class="tr_2">
                                적립금 적립·사용 내역이 없습니다.
                            </th>
                        </tr> -->

                        <!-- 있을때 -->
                        <tr class="tr2">
                            <td>2024.02.03</td>
                            <td>포인트 사용</td>
                            <td>
                                <div>
                                    <span>상품 구매 포인트 사용</span>
                                    <span class="point_order">주문번호 : 20240105OD1234567</span>
                                </div>
                            </td>
                            <td class="point_green"></td>
                            <td class="point_red">-10,000</td>
                        </tr>
                        <tr class="tr2">
                            <td>2024.01.05</td>
                            <td>포인트 적립</td>
                            <td>
                                <div>
                                    <span>이벤트 참여</span>
                                    <span></span>
                                </div>
                            </td>
                            <td class="point_green">+10,000</td>
                            <td class="point_red"></td>
                        </tr>
                        <tr class="tr2">
                            <td>2024.02.03</td>
                            <td>포인트 사용</td>
                            <td>
                                <div>
                                    <span>상품 구매 포인트 사용</span>
                                    <span class="point_order">주문번호 : 20240105OD1234567</span>
                                </div>
                            </td>
                            <td class="point_green"></td>
                            <td class="point_red">-10,000</td>
                        </tr>
                        <tr class="tr2">
                            <td>2024.01.05</td>
                            <td>포인트 적립</td>
                            <td>
                                <div>
                                    <span>이벤트 참여</span>
                                    <span></span>
                                </div>
                            </td>
                            <td class="point_green">+10,000</td>
                            <td class="point_red"></td>
                        </tr>
                        <tr class="tr2">
                            <td>2024.02.03</td>
                            <td>포인트 사용</td>
                            <td>
                                <div>
                                    <span>상품 구매 포인트 사용</span>
                                    <span class="point_order">주문번호 : 20240105OD1234567</span>
                                </div>
                            </td>
                            <td class="point_green"></td>
                            <td class="point_red">-10,000</td>
                        </tr>
                        <tr class="tr2">
                            <td>2024.01.05</td>
                            <td>포인트 적립</td>
                            <td>
                                <div>
                                    <span>이벤트 참여</span>
                                    <span></span>
                                </div>
                            </td>
                            <td class="point_green">+10,000</td>
                            <td class="point_red"></td>
                        </tr>
                        
                     
                        
                    </table>
                    
                </div>

            </div>
            <!-- 보여지는 화면 end -->
            <!-- ---------------------------------------- -->



        </div>
        <!-- 좌우로 영역 나누기(사이드바, contents) end -->
    </section>
    <!-- section end -->
    <!-- 적립금 페이지 End-->





    <hr class="hr1">
    <!-- 푸터 영역 start -->
    <footer>
        <h1>푸터 영역</h1>
        <h1>푸터 영역</h1>
    </footer>
    <!-- 푸터 영역 end -->


</body>
</html>