<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이드바</title>
    <link rel="stylesheet" href="mypage.css">
</head>
<body>
    <div class="sidebar">
        <h3>나의 주문</h3>
        <ul>
            <li><a href="mypage_order.html"><span>주문·교환·반품·취소 내역</span></a></li>
            <li><a href="mypage_address.html"><span>배송지 관리</span></a></li>
        </ul>
        
        <h3>나의 쇼핑 혜택</h3>
        <ul>
            <li><a href="mypage_point.html"><span>적립급</span></a></li>
        </ul>
    
        <h3>나의 활동</h3>
        <ul>
            <li><a href="mypage_wishlist.html"><span>위시리스트</span></a></li>
            <li><a href=""><span>최근 본 상품</span></a></li>
            <li><a href="mypage_event.html"><span>이벤트 참여 내역</span></a></li>
            <li><a href=""><span>상품 리뷰</span></a></li>
        </ul>
    
        <h3>고객의 소리</h3>
        <ul>
            <li><a href="mypage_qnaList.html"><span>1:1문의</span></a></li>
            <li><a href=""><span>상품 Q&A</span></a></li>
        </ul>
    
        <h3>내 정보</h3>
        <ul>
            <li><a href="mypage_pwdck.html"><span>회원정보 수정</span></a></li>
            <li><a href=""><span>회원 탈퇴</span></a></li>
        </ul>
    </div>
</body>
</html>