<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1:1 문의 수정</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="../03_JavaScript/resources/js/sample.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


        
        <style>
            
        .breadcrumb{
            background-color: white;
        }    

        </style>    
    </head>
    
    <!-- 브레드크럼 css -->
    <link rel="stylesheet" href="/html/webapp/resources/css/breadcrumb.css">
    
    <!-- 마이페이지 css -->
    <link rel="stylesheet" href="mypage.css">

    <!-- 마에페이지 주문전용 css -->
    <link rel="stylesheet" href="mypage_order.css"> 

    <!-- 사이드바 적용 js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="mypage.js"></script>
    
    <body  class="mx-auto">
        <!--head start-->   
        <header>
            <h1>헤더 영역</h1>
            <h1>헤더 영역</h1>
        </header>
        
        <!--head end-->
        <hr class="hr1">
        
        <!-- 브레드크럼 start -->
        <div class="breadcrumb">
            <ol>
                <li><a href="/html/webapp/views/공통부분/mainPage.html">Home</a></li>
                <li class="separator">&gt;</li>
                <li><a href="mypage_mainpage.html">마이페이지</a></li>
                <li class="separator">&gt;</li>
                <li>1:1 문의</li>
                
            </ol>
        </div>
    <!-- 브레드크럼 end -->
    
    <!-- 메인페이지 start-->
    <!-- 제목 -->
    <h1 class="title">1:1 문의글 수정</h1>
    
    
    <!-- section start -->
    <section>
        <!-- 좌우로 영역 나누기(사이드바, contents) start -->
        <div class="dividing_area1">
            <!-- 사이드바 -->
            <div class="sidebar"></div>
            
            
            <!-- contents start-->
            <div class="content_div">
                

                <!-- 날짜 기능 -->
                <!-- <div class="date_tab"></div> -->


                


                <!-- 결과 값 출력 -->
                <div id="content_result" class="content_result">
                    
                    <!-- 1:1 문의 내역 start-->
                    <!-- title -->
                    <!--  
                    <p class="mypage_font6">주문내역</p>
                    <div class="mypage_order_detail">
                        <p class="mypage_font8">2024.02.24</p>
                        <a href="" class="mypage_font8">주문상세 &gt;</a>
                    </div>
                    -->
                    <hr>
                    <form action="">

                        <table class="table">
    
                            <table class="table">
                                <tr>
                                    <th width="100px">문의유형</th>
                                    <td>
                                        <select name="" class="form-control">
                                            <option value="10">상품</option>
                                            <option value="20">교환</option>
                                            <option value="30">반품</option>
                                            <option value="40">주문/결제/취소</option>
                                            <option value="50">취소</option>
                                            <option value="60">배송문의</option>
                                            <option value="70">기타</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td><input type="text" class="form-control" required placeholder="제목을 입력해주세요" value="기존문의글제목"></td>
                                </tr>
                                <tr>
                                    <th>내용</th>
                                    <td><textarea cols="30" rows="10" class="form-control" style="resize: none;" required>기존 문의글 내용</textarea></td>
                                </tr>
                                <tr>
                                    <th>첨부파일</th>
                                    <td>
                                        <!-- 기존에 첨부파일이 있었을 경우 보여지는 기존첨부파일명-->
                                        기존첨부파일명.jpg

                                        <!-- 새로운 첨부파일 업로드 가능하기 때문에 그때의 input type=file -->
                                        <input type="file" class="form-control-file"><br>
                                        <p style="color:gray;">* 파일은 10mb이하의 jpg,png,gif 파일로 첨부 가능합니다. </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center">
                                        <button type="submit" class="btn btn-outline-secondary btn-sm">수정하기</button>
                                        <button type="reset" class="btn btn-outline-danger btn-sm">초기화</button>
                                    </td>
                                </tr>
                        </table>
    
                    </form>
                    <br><br>

                    
                    
                    <hr class="hr3">
                    <!-- 1:1 문의 내역 end-->



                </div>


                

            </div>
            <!-- contents end-->

  
            
        </div>
        <!-- 좌우로 영역 나누기(사이드바, contents) end -->


    </section>
    <!-- section end -->







    
    <!-- 메인페이지 End-->



    <hr class="hr1">
    <!-- 푸터 영역 start -->
    <footer>
        <h1>푸터 영역</h1>
        <h1>푸터 영역</h1>
    </footer>
    <!-- 푸터 영역 end -->


</body>
</html>