<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../03_JavaScript/resources/js/sample.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="../../../../ForMyPet/css/formypet.css">
    <script src="js/fmp.js"> </script>

    <style>
      .faq_content{
        background:rgb(240, 239, 239);
        padding:30px;
      }

      .list_faq:hover{
        cursor:pointer;
      }
    </style>

</head>
<body>
    <div class="wrap">

    <!--head start-->   
    <header class="header-top-section">
 
      <nav class="header_nav">
         <div width="80%">
            <div class="menu_logo">
                <a href=""><img src="../../resources/images/포마이펫.png" style="width: 200px;"></a>
              
              </div>

            <div class="menu_item">
            <a href="" class="community">EVENT</a>
            </div>
            <div class="menu_item">
              <a href="" >강아지</a>
            </div>
            <div class="menu_item">
              <a href="" >고양이</a>
            </div>
            <div class="menu_item">
              <a href="" >리뷰</a>
            </div>
            <div class="menu_item">
              <a href="" >게시판</a>
            </div>
            <div class="menu_item">
              <a href="" >고객센터</a>
            </div> 
          </div>   
        <div class="section">
          <table class="Login_section">
            <tr>
              <td><a href="#"><img src="../../../../ForMyPet/images/로그인아이콘.png" style="height: 45px; margin-left: 40px;"></a></td>
              <td><a href="#"><img src="../../../../ForMyPet/images/검색아이콘.PNG" style="height: 40px;  margin-left: 10px;"></a></td>
              <td><a href="#"><img src="../../../../ForMyPet/images/찜 아이콘.png" style="height: 60px; "></a></td>
              <td><a href="#"><img src="../../../../ForMyPet/images/장바구니 아이콘.png" style="height: 45px; "></a></td>
             
            </tr>
          </table>
        </div>
      </nav>
      
  </header>
    <!--head end-->

    <!--section start-->  
    <section class="section_notice"> 
    <div class="notice" >
        <!-- 사이드 -->
        <div class="notice_side" >
            <div class="notice_h1"><h1>고객센터</h1></div>
            <div class="notice_side_list">
                <H3>FAQ</H3>
                <br>
                <H3>1:1 문의</H3>
                <ul>
                    <li>1:1 문의하기</li>
                    <li>1:1 문의내역</li>
                </ul>
                <br>
                <h3>공지사항</h3>
            </div>
            <br>
            
            <div class="notice_side_list list2" >
            <img src="../../../../ForMyPet/images/전화 아이콘.png" alt="" style="width: 30px; height: 30px"> 
            <h4>고객센터 ></h4>
            </div>
            <div class="notice_side_list list3">
                <h3>02-1234-5678</h3>
                <pre>평일 10:00 ~ 18:00 <br>점심시간 12:30 ~ 14:00 <br>주말/공휴일 휴무
                </pre>
            </div>
        </div>
        <div class="notice_hidden"></div>
        <!-- 고객센터 목록 -->
        <div class="notice_list">
            <div class="notice_list_menu">
                <h4>FAQ ></h4><br>
                <h5>자주 묻는 질문 TOP 5</h5>
                <br>
                <table class="list_faq table-hover">
                  <tr data-toggle="collapse" data-target="#faq1">
                    <td><img src="../../../../ForMyPet/images/검색 아이콘.png" alt=""></td>
                    <td class="table_title">배송 조회는 어디서 하나요?</td>
                    <td>▽</td>
                  </tr>
                  <tr id="faq1" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">그러게 말입니다...</p>
                  </td>
                  </tr>

                  <tr data-toggle="collapse" data-target="#faq2">
                    <td><img src="../../../../ForMyPet/images/검색 아이콘.png" alt=""></td>
                    <td class="table_title">배송 조회는 어디서 하나요?</td>
                    <td>▽</td>
                  </tr>
                  <tr id="faq2" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">그러게 말입니다...</p>
                  </td>
                  </tr>

                  <tr data-toggle="collapse" data-target="#faq3">
                    <td><img src="../../../../ForMyPet/images/검색 아이콘.png" alt=""></td>
                    <td class="table_title">배송 조회는 어디서 하나요?</td>
                    <td>▽</td>
                  </tr>
                  <tr id="faq3" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">그러게 말입니다...</p>
                  </td>
                  </tr>

                  <tr data-toggle="collapse" data-target="#faq4">
                    <td><img src="../../../../ForMyPet/images/검색 아이콘.png" alt=""></td>
                    <td class="table_title">배송 조회는 어디서 하나요?</td>
                    <td>▽</td>
                  </tr>
                  <tr id="faq4" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">그러게 말입니다...</p>
                  </td>
                  </tr>

                  <tr data-toggle="collapse" data-target="#faq5">
                    <td><img src="../../../../ForMyPet/images/검색 아이콘.png" alt=""></td>
                    <td class="table_title">배송 조회는 어디서 하나요?</td>
                    <td>▽</td>
                  </tr>
                  <tr id="faq5" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">그러게 말입니다...</p>
                  </td>
                  </tr>

                </table>
            </div>
            <br>
            <div>
                <div class="notice_list_menu">
                    <div class="notice_list_q">
                        <h4>1:1 문의 ></h4>
                        <button class="btn btn-secondary">1:1 문의하기</button>
                    </div>
                    <br>
                    <div class="notice_list_a">
                        <br>
                        <h3>1:1 문의로 빠른 답변받기</h3>
                        <h6>포마이펫에 관해 더 궁금한 점이 있으시면 부담 없이 문의해보세요 </h6>
                        <br>
                    </div>

                </div>
            </div>
            <br>
            <div>
                <div class="notice_list_menu">
                    <h4>공지사항 ></h4><br>
                    <br>
                <table class="list_faq table-hover">
                  <tr data-toggle="collapse" data-target="#notice1">
                    <td>◈</td>
                    <td class="table_title">배송비 정책 변경 안내</td>
                    <td>▽</td>
                  </tr>
                  <tr id="notice1" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">공지사항 내용</p>
                  </td>
                  </tr>

                  <tr data-toggle="collapse" data-target="#notice2">
                    <td>◈</td>
                    <td class="table_title">개인 정보 처리 방침 변경 안내</td>
                    <td>▽</td>
                  </tr>
                  <tr id="notice2" class="collapse">
                    <td  colspan="3">
                      <p  style="min-height:150px; white-space: pre-wrap;" class="border rounded mx-auto faq_content">공지사항 내용</p>
                  </td>
                  </tr>
                </table>
                </div>
            </div>
        </div>
            
    </div>
    </section> 
     
    <!--section end-->




   
    <!--footer start-->    
    <footer>
      <div class="footer_company">
          <ul>
              <li>상호명 : 포마이펫</li>
              <li>전화 : 02) 2696-8000</li>
              <li>서울특별시 금천구 가산디지털2로 95 3층</li>
          </ul>
      </div>

      <ul class="footer_copyright">
          Copyright ⓒ <span style="color: #f1da05;">ForMyPet</span>. All rights reserved.
      </ul>
    </footer>
    <!--footer end-->

</div>

</body>
</html>