
.wrap{ 
    margin: auto;
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column; 
}

.section .Login_section td a {
    width: 90px;
    height: 30px;
}
.header{height: 250px;}
.header-top
{
    background-color: #e0e0e0;
   
}
.header_nav{
    height: 20%; display: flex;
    background-color: #f5f5f500;
    padding-top: 5%; 
    padding-bottom: 10px; 
    position: relative;
} 



.header_nav::before { /*상단 선 스타일*/
        content: "";
        position: absolute;
        top: -10px; /* 선의 위치 조정 */
        left: 0; 
        width: 100%; 
        height: 2px; /* 선의 두께 설정 */
        background-color: #ffffff; 
}
    
.header_nav div{
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;  
    
}


.header_nav div a{
    color: black;
}
.menu_item {
    margin-right: 60px; 
}
.header-top-section { /* 홈페이지 최상단 여백*/ 
    margin-top: 20px; 
    margin-bottom: 20px;
    position: relative;
    
}
.header-top-section::after { /*하단 선 스타일*/
    content: "";
    position: absolute;
    bottom: -10px; /* 선의 위치 조정 */
    width: 100%; 
    height: 2px; /* 선의 두께 설정 */
    background-color: #e0e0e0; 
}

.menu_item {
    display: inline-block; 
    margin-right: 10px; 
}

.menu_item a {
    text-decoration: none; 
    display: inline-block; 
}

.menu_item:hover a {
    font-weight: bold;
    color: #ffa51f; 
    text-shadow: 1px 1px 1px #b47920;
}