/* 위시리스트 css */

.wishlist_contents{
    width: 100%;
}

.wishlist_title{
    display: flex;
    margin: 0 10px;
    align-items: center;
    width: 100%;
}
.wishlist_title_left{
    width: 50%;
    text-align: left;
    display: flex;
}

/* 위시리스트 카운트 숫자 글자 */
.font_yellow{
    color: gold;
    margin-left: 15px;
}
.wishlist_title_right{
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

/* 품절제외, 체크박스 높이 맞추기 */
.wishlist_title_right , .checkbox_text , .checkbox_wishlist {
    vertical-align: middle;
}


.wishlist_font1, .wishlist_font2 {
    font-size: 20px;
}
.checkbox_wishlist{
    width: 25px;
    height: 25px;
}

.wishlist_delete{
    border: 1px solid gray;
    background-color: white;
    font-size: 20px;
    width: 120px;
    height: 50px;
}
.wishlist_delete:hover{
    background-color: lightgray;
    cursor: pointer;
}


/* 위시리스트 상품 이미지 보여주기 */
.wishlist_product{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}
.div_pro{
    width: 25%;
    padding: 10px;
    margin-bottom: 20px;
}
.div_pro img{
    width: 100%;
    background-color: gainsboro;
    height: auto;
}
.div_pro:hover {
	cursor: pointer;
	background-color: lightgray;
}

.div_img {
    height: 250px;
    cursor: pointer;
}
.div_img img {
    cursor: pointer;
}


/* 상품 설명 */
.wishlist_font2 {
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    display: inline-block;
    text-align: left;
    align-items: center;
}
.wishlist_font3{
    display: flex;
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}
.wishlist_font4{
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    color: red;
}
.tr2 p{
    margin: 0;
}
.div_flex{
    display: flex;
    align-items: center;
}
.wishlist_font5{
    float: right;
    font-size: 25px;
    font-weight: 600;
}
.div_right{
    text-align: right;
    margin-left: auto;
}
.wishlist_font6{
    float: right;
    
}
.div_text_left{
    text-align: left;
}

.wish_no{
	width: 100%;
	display: block;
	justify-content: center;
    align-items: center;
}
.wish_no p{
	margin: 100px 0;
}
.wish_no a {
	 display: inline-block;
}
.shopping {
	background: lightgray;
	border: 1px solid gray;
	width: 300px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin-bottom: 200px;
}
.shopping:hover{
	background-color: gray;
}

/* 품절 표시 */
.soldout_img {
    position: relative;
}
.soldout_text {
	z-index: 1;
    position: absolute;
    transform: translate(-100%, 300%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    font-size: 30px;
    color: white;
    width:242px;
}

/* 위시리스트 개별 삭제 기능 */
.btn_x {
    background-color: black;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 30px;
}
.btn_x:hover {
    background-color: red;
}
.div_img {
    position: relative;
}
.div_img:hover .btn_x {
    display: block;
}



/* 삭제버튼 */
.btn_delete, .btn_cancle{
    width: 150px;
    height: 50px;
    font-size: 25px;
    border: 1px solid gray;
    margin-top: 10px
}
.btn_delete {
    background-color: gold;
}
.btn_delete:hover {
    background-color: goldenrod;
}
.btn_cancle{
    background-color: white;
}
.btn_cancle:hover {
    background-color: lightgray;
}

/* 전체삭제 modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid gainsboro;
    width: 80%;
    max-width: 400px;
    height: 150px;
    text-align: center;
    overflow: auto;
}

.close {
    color: gray;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}