@charset "UTF-8";
  
.main_content > div{
  border: 0px solid;
  width: 60%;
  margin: auto;
  margin-bottom : 200px; 
  padding: center;
}

#table_signup input, #table_signup_sub input{
  width:400px;
}

#table_signup th, #table_signup_sub th{
  white-space: nowrap;
  vertical-align: middle;
}

.birthStyle span{
		display: inline-block;
      margin-left: 5px; 
}

/* #table_signup, #table_signup_sub {
  table-layout: auto; /* 테이블의 너비를 내용에 맞게 조절 */


/* 회원가입페이지 최상단 h2요소 중앙배치 */
.center {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.Modification_subtitle {
	text-align: left;
}

.signup_content {
	margin: auto;
}
.text_left{
	text-align: left;
}
