@charset "UTF-8";

/* 회원 탈퇴 css */

.content_div{
	width: 100%;
}

.info{
	height: 300px;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.font_yellow{
	margin-left: 10px;
	color: gold;
}

ul {
	text-align: left;
	list-style-type: none;
}

.div_flex{
	display: flex;
	justify-content: center;
	align-items: center;
}

.div_flex p {
	font-size: 30px;
	font-weight: 600;
}
.checkbox_div{
	text-align: center;
	font-size: 30px;
}

.checkbox_div input[type="checkbox"]{
  	margin: 50px 0;
	height: 25px;
  	width: 25px;
}

.PasswordCheck{
	font-size: 18px;
	margin-bottom: 50px;
}

.UnregisterNo{
	background-color: white;
	border: 1px solide gray;
	width: 200px;
	height: 70px;
	font-size: 30px;
}
.UnregisterNo:hover{
	background-color: lightgray;
}
.UnregisterOk{
	background-color: gold;
	border: 1px solide gray;
	width: 200px;
	height: 70px;
	font-size: 30px;
	margin-bottom: 100px;
	margin-left: 5px;
}
.UnregisterOk:hover{
	background-color: goldenrod;
}





