@charset "UTF-8";

/* 마이페이지 적립금 css */

.available_points{
    margin-top: 50px;
    margin-bottom: 10px;
}
.mypage_point {
    flex: 1;
    justify-content: right;
}
.point_right {
    display: flex;
    align-items: center;
    justify-content: right;
}
.mypage_font1{
    color: gold;
    padding-right: 20px;
}

.contents_point{
    width: 100%;
    margin: 30px 0;
}

.table_point{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 150px;
}
.tr1{
    height: 60px;
}
.tr2{
    height: 50px;
    border-bottom: 1px solid gray;
}
.tr2 span{
    display: flex;
    text-align: left;
}
.th1{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.tr_2{
    height: 300px;
    font-weight: lighter;
    border-bottom: 1px solid gray;
}
.table_point th{
    font-size: 20px;
}
.table_point td{
    font-size: 20px;
}
.point_no {
	display: none;
}

.point_green {
    color: green;
    font-weight: bold
}
.point_red{
    color: red;
    font-weight: bold
}
.point_order{
    color: gray;
}