/* 마이페이지 스타일 */
/* 부트스트랩 때문에 적용안되는 css는 !important 사용함 */

* {
    box-sizing: border-box;
}

body {
    width: 1300px !important;
    margin: auto !important;
}

a {
    text-decoration: none !important;
}
section a {
    color: black !important;
}
/* h태그 기본값으로 설정 */
/* h1 */
h1 {
	display: block !important;
	font-size: 2em !important;
	margin-top: 0.67em !important;
	margin-bottom: 0.67em !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	font-weight: bold !important;
}
/* h3 */
h3{
    font-size: 24px !important;
    font-weight: 600 !important;
    margin: 10px 0 !important;
}




/* 제목 */
.contentTitle{
    text-align: center;
    margin-bottom: 100px !important;
}

/* 영역 나누기 */
.dividing_area1 {
    display: flex;
    text-align: center;
}

/* 사이드바 영역*/
.sidebar * {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: gray;
    text-align: left;
    width: 250px;
}
.sidebar h3 {
    color: black;
    margin-bottom: 5px !important;
    font-size: 20px !important;
}
.sidebar ul {
    font-size: 16px !important;
    margin-bottom: 30px !important;
}
.sidebar li {
    margin-bottom: 5px !important;
}

/* 프로필 영역 */
.mypage_profile_left, .mypage_profile_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mypage_profile_circle img{
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    display: flex;
}

/* 주문영역 */
.table {
    width: 100%;
    font-size: 20px;
    text-align: left;
}
.table img {
    background-color: gainsboro;
    margin-right: 20px;
    width: 180px;
    height: 180px;
}
.td2 {
    color: gray;
}
.td3 {
    width: 150px;
    text-align: center;
    line-height: 50px;
}



/* 활동 영역 */
.mypage_activity{
    display: flex;
    margin: 50px 0;
}
.mypage_activity div {
    width: 100%;
}
.mypage_activity1{
    display: flex;
    justify-content: space-around;
}
.mypage_activity2 {
    display: flex;
}
.mypage_activity2 p{
    width: 50%;
    text-align: center;
    margin: 5px;
}


/* contents 영역(사이드바옆 보여지는 내용들) */
.content_div {
    width: 100%; /* 나머지 전체 영역 차지 */
}
.content_order {
    margin: 0 50px;
}
.content_order p {
    margin: 120px 0;
}
.mypage_order_detail {
    display: flex;
    justify-content: space-between;
}
.order_status{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: gray;
}

/* hr 태그 설정 */
hr {
    user-select: none;
    background-color: gray;
}
.hr1{
    width: 100%;
    height: 1px;
    background-color: gray;
    border: none;
}
.hr2{
    border: 3px solid black;
}
.hr3 {
    margin-bottom: 50px;
}
.hr4 {
    border-left: 1px solid gray;
    height: auto;
}

/* 폰트 영역 */
.mypage_font1{
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}
.mypage_font2{
    font-size: 20px;
    color: gray;
    margin-top: 20px;
    margin: 10px;
}
.mypage_font3{
    font-size: 25px;
    font-weight: 600;
}
.mypage_font4{
    color: gray;
    font-size: 20px;
    position: relative;
    padding: 20px;
}
.mypage_font5{
    font-size:40px;
    font-weight: 600;
}
.mypage_font6{
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin: 25px 0;
}
.mypage_font7{
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
    
}
.mypage_font8{
    font-size: 20px;
    text-align: left;
    margin: 0 10px;
}
