<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>이벤트 페이지</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="resources/img/favicon.png" rel="icon"> -->
  <!-- <link href="resources/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../../resources/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../../../resources/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../../../resources/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../../../resources/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../../../resources/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../../resources/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="../../../resources/images/logo.png" alt="로고">
        <span class="d-none d-lg-block">포마이펫</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <!-- 프로필이미지 -->
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- 로그인 전 -->
            <img src="../../../resources/images/login.png" alt="Profile" class="rounded-circle">
          </a><!-- End Profile Iamge Icon -->
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i> <!-- 아이콘 -->
          <span>대시보드</span>
        </a>
      </li>
      <!-- 홈 Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>상품관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <i class="bi bi-circle"></i><span>상품 조회</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <i class="bi bi-circle"></i><span>상품 재고 관리</span>
            </a>
          </li>
        </ul>
      </li>
      
      <!-- 상품관리 Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person"></i><span>회원관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>회원 조회</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>회원 등록/변경/삭제</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- 회원관리 -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#order-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-box-seam"></i><span>주문 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="order-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>주문/취소/교환/반품 관리</span>
            </a>
          </li>
           
          <li>
            <a href="tables-data.html">
              <i class="bi bi-circle"></i><span>배송현황 관리</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- 주문 관리 Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-calendar-event"></i><span>이벤트 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <i class="bi bi-circle"></i><span>이벤트 목록 조회</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- 이벤트 관리 Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>게시판 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <i class="bi bi-circle"></i><span>게시글 관리</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <i class="bi bi-circle"></i><span>댓글 관리</span>
            </a>
          </li>
          <li>
            <a href="charts-echarts.html">
              <i class="bi bi-circle"></i><span>리뷰 관리</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- 게시판 Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#cs-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-headset"></i><span>고객센터 관리</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="cs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>공지사항</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>FAQ</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>1:1 문의</span>
            </a>
          </li>
          
        </ul>
      </li>
      <!-- 고객센터 Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>통계</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-remix.html">
              <i class="bi bi-circle"></i><span>Remix Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-boxicons.html">
              <i class="bi bi-circle"></i><span>Boxicons</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- 통계 Nav -->

  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>이벤트 페이지</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">홈</a></li>
          <li class="breadcrumb-item active">이벤트</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg d-flex justify-content-between event-card">
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realcat.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div><!-- End Card with an image overlay -->
    
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realcat2.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div><!-- End Card with an image overlay -->
          
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realdog.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div>
          <!-- End Card with an image overlay -->
        </div>
      </div>
      <div class="row">
        <div class="col-lg d-flex justify-content-between event-card">
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realcat.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div><!-- End Card with an image overlay -->
    
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realcat2.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div>
          <!-- End Card with an image overlay -->
          
          <!-- Card with an image overlay -->
          <div class="card col-3 rounded card">
            <img src="../../../resources/images/realdog.jfif" class="card-img-top card m-auto" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">이벤트 제목</h5>
              <p class="card-text">이벤트 내용</p>
            </div>
          </div>
          <!-- End Card with an image overlay -->
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
      <div class="d-flex justify-content-end">
        <div>
          
          <button type="button" class="btn btn-secondary">등록하기</button>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>ForMyPet</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="#">포마이펫일동</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../../../resources/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../../../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../../resources/vendor/chart.js/chart.umd.js"></script>
  <script src="../../../resources/vendor/echarts/echarts.min.js"></script>
  <script src="../../../resources/vendor/quill/quill.min.js"></script>
  <script src="../../../resources/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../../../resources/vendor/tinymce/tinymce.min.js"></script>
  <script src="../../../resources/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../../../resources/js/main.js"></script>

</body>

</html>