

 /* BoardInsert*/

 .main_content > a{
    text-decoration: none;
 }

 .aa{
    font-size: 12px;
 }

 .board_title{
    
    width: 400px;
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
 }

 .board_list > h5{
    margin-bottom: 30px;
 }

 .content_area{
    display: flex;
    width: 100%;
    margin-top: 100px;
}



.board_list{
    margin-right: 10px;
    width: 20%;
 }

.board_list > .listTitle{
    text-decoration: none;
    color: black;
}
 
 .list>li{
    margin-top: 10px;
    list-style-type: none;
 }

 .list>li>a{
    font-size: 12px;
    text-decoration: none;
    color: black;
 }

 .content{
    width: 60%;
 }
 

.content_notice{
    margin-bottom: 10px;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.content_title{
    text-align: left;
    margin-bottom: 50px;
    
}

#post_title{
    height: 25px;
    width: 85%;
    
}

.content_detail{
    width: 100%;
    height: 60%;
    resize: none;
}
.comment_area{
    width: 60%;
}

.aaa{
    background-color: #b47920;
}
.searchBoard{
    width: 500px;
}

.form-control{
    width: 700px;
    
}

.insertBtn{
    color: white;
    
}

.btn_area{
    height: 30px;
    /* margin-bottom: 20px; */
}

/* modal */

/* modal 크기 */
.modal-dialog{
    width: 400px;
}
/* modal body */
.modal-detail{
    height: 80px;
    padding: 40px 0;
    text-align: center;
}
/* modal button */
.item{
    width: 100px;
    color: white;
}
.modal-btn-area{
    width: 290px;  
}




 