
/* Section 관련 스타일 */
.content_area{
    display: flex;
    margin-top: 7%;
    margin-bottom: 7%;
}

.board_content{
    
    width:100%;
    margin:auto;
    min-height:500px;
    padding:50px;
    border-radius:10px;
}

.board_title{ 
    width: 450px;
    text-align: right;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
 }

.side_area{
    margin-right: 10px;
    width: 20%;
    height: 100%;
    padding-top: 50px;
 }

 .side_area > h5{
    margin-bottom: 30px;
 }

.side_area > .listTitle{
    text-decoration: none;
    color: black;
}
 
 .list>li{
    margin-top: 10px;
    list-style-type: none;
 }

 .list>li>a{
    font-size: 12px;
    text-decoration: none;
    color: black;
 }


 /* modal */

/* modal 크기 */
.modal-dialog{
    width: 400px;
}
/* modal body */
.modal-detail{
    height: 80px;
    padding: 40px 0;
    text-align: center;
}
/* modal button */
.item{
    width: 100px;
    color: white;
}
.modal-btn-area{
    width: 290px;  
}



/* 사진게시판 등록에서만 필요한 style */
.title_img {
    width: 450px;
    height: 300px;
}
.content_img {
    width: 180px;
    height: 100px;
}


