<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>고객센터 관리-1:1 문의</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-------------------- 부트스트랩 기능을 위한 CDN 방식 연결 ------------------------->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- --------------------------------------------------------------------------- -->

    <!-- Favicons -->
    <!-- <link href="resources/img/favicon.png" rel="icon"> -->
    <!-- <link href="resources/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../resources/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../resources/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../resources/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../resources/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../resources/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../resources/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../resources/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Jan 29 2024 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <!-- 1:1 문의 관리 스타일 -->
    <style>
        .btn-warning{
            background: rgb(255, 224, 96);
        }

        .question_title{
            text-overflow: ellipsis; 
            overflow:hidden; 
            white-space:nowrap;
            max-width: 140px;
        }

        
    </style>



</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="../../index.html" class="logo d-flex align-items-center">
                <img src="../../resources/images/logo.png" alt="로고">
                <span class="d-none d-lg-block">포마이펫</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <!-- 프로필이미지 -->
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <!-- 로그인 전 -->
                        <img src="../../resources/images/login.png" alt="Profile" class="rounded-circle">
                        <!-- 로그인 후 -->
                        <img src="../../resources/images/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">CEO 김호관</span>
                    </a><!-- End Profile Iamge Icon -->
                    <!-- 프로필이미지 드롭다운 -->
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>대표자 김호관</h6>
                            <span>CEO</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Profile Dropdown Items -->
                </li>
                <!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="../../index.html">
                    <i class="bi bi-grid"></i> <!-- 아이콘 -->
                    <span>대시보드</span>
                </a>
            </li>
            <!-- 홈 Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>상품관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="components-alerts.html">
                            <i class="bi bi-circle"></i><span>상품 조회</span>
                        </a>
                    </li>
                    <li>
                        <a href="components-accordion.html">
                            <i class="bi bi-circle"></i><span>상품 재고 관리</span>
                        </a>
                    </li>
                    
                </ul>
            </li>

            <!-- 상품관리 Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-person"></i><span>회원관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="forms-elements.html">
                            <i class="bi bi-circle"></i><span>회원 조회</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-layouts.html">
                            <i class="bi bi-circle"></i><span>회원 등록/변경/삭제</span>
                        </a>
                    </li>
                    <!-- 
          <li>
            <a href="forms-editors.html">
              <i class="bi bi-circle"></i><span>Form Editors</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <i class="bi bi-circle"></i><span>Form Validation</span>
            </a>
          </li>
           -->
                </ul>
            </li>
            <!-- 회원관리 -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#order-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-box-seam"></i><span>주문 관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="order-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="tables-general.html">
                            <i class="bi bi-circle"></i><span>주문/취소/교환/반품 관리</span>
                        </a>
                    </li>

                    <li>
                        <a href="tables-data.html">
                            <i class="bi bi-circle"></i><span>배송현황 관리</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- 주문 관리 Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-calendar-event"></i><span>이벤트 관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="tables-general.html">
                            <i class="bi bi-circle"></i><span>이벤트 목록 조회</span>
                        </a>
                    </li>
                    <!-- 
          <li>
            <a href="tables-data.html">
              <i class="bi bi-circle"></i><span>Data Tables</span>
            </a>
          </li>
          -->
                </ul>
            </li>
            <!-- 이벤트 관리 Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>게시판 관리</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="charts-chartjs.html">
                            <i class="bi bi-circle"></i><span>게시글 관리</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-apexcharts.html">
                            <i class="bi bi-circle"></i><span>댓글 관리</span>
                        </a>
                    </li>
                    <li>
                        <a href="charts-echarts.html">
                            <i class="bi bi-circle"></i><span>리뷰 관리</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- 게시판 Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#cs-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-headset"></i><span>고객센터 관리</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="cs-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="forms-elements.html">
                            <i class="bi bi-circle"></i><span>공지사항</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-layouts.html">
                            <i class="bi bi-circle"></i><span>FAQ</span>
                        </a>
                    </li>
                    <li>
                        <a href="forms-editors.html">
                            <i class="bi bi-circle"></i><span>1:1 문의</span>
                        </a>
                    </li>

                </ul>
            </li>
            <!-- 고객센터 Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>통계</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="icons-bootstrap.html">
                            <i class="bi bi-circle"></i><span>Bootstrap Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-remix.html">
                            <i class="bi bi-circle"></i><span>Remix Icons</span>
                        </a>
                    </li>
                    <li>
                        <a href="icons-boxicons.html">
                            <i class="bi bi-circle"></i><span>Boxicons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- 통계 Nav -->

    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>1:1 문의</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">고객센터 관리</li>
                    <li class="breadcrumb-item active">1:1 문의</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">1:1 문의</h5>
                            <hr>
                            <br>


                            <!-- Table with stripped rows -->
                            <table class="table datatable table-bordered table-hover" id="question_list">
                                <thead>
                                    <tr>
                                        <th width="60px">선택</th>
                                        <th width="80px">글번호</th>
                                        <th width="100px">문의유형</th>
                                        <th width="100px">답변상태</th>
                                        <th width="500px">제목</th>
                                        <th width="150px">작성자</th>
                                        <th width="150px">작성일</th>
                                        <th width="100px">답변</th>
                                    </tr>


                                </thead>
                                <tbody>

                                    <!-- 조회된 글 없음 -->
                                    <!-- <tr>
                                        <td colspan="6" style="text-align: center;"> 조회된 글이 없습니다.</td>
                                    </tr> -->

                                    <!-- 조회된 글 있음 -->


                                    <!-- 답변 등록 전 -->
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>10</td>
                                        <td>반품</td>
                                        <td>대기중</td>
                                        <td class="question_title">반품 문의</td>
                                        <td>user01</td>
                                        <td>2024-01-01</td>
                                        <td><button class=" btn btn-warning btn-sm">답변등록</button></td>
                                    </tr>

                                    <!-- 답변 등록된 글 -->
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                        </td>
                                        <td>10</td>
                                        <td>교환</td>
                                        <td>답변완료</td>
                                        <td class="question_title">상품 교환 문의 드립니다.</td>
                                        <td>user01</td>
                                        <td>2024-01-01</td>
                                        <td><button class=" btn btn-secondary btn-sm">답변조회</button></td>
                                    </tr>
                                    

                                    
                                    
                                </tbody>

                            </table>

                            
                            <!-- End Table with stripped rows -->
                            <div style="text-align: center;">
                                <button type="button" class="btn btn-outline-danger btn-sm" disabled>선택삭제</button> 
                            </div>

                            <script>
                                
                            </script>

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../../resources/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../../resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/vendor/chart.js/chart.umd.js"></script>
    <script src="../../resources/vendor/echarts/echarts.min.js"></script>
    <script src="../../resources/vendor/quill/quill.min.js"></script>
    <script src="../../resources/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../../resources/vendor/tinymce/tinymce.min.js"></script>
    <script src="../../resources/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../../resources/js/main.js"></script>

</body>

</html>